# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Transpiled files
.cache/

# Optional npm cache directory
.npm

# Misc
.DS_Store

#VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
